<!DOCTYPE >
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="refresh" content="45" />
    <title>Course Management</title>
    <link rel="stylesheet" href="/static/css/all.css" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <div class="container">
      <!-- Header and navigation -->
         <nav class="nav">
          <a href="{{ url_for('index_faculty') }}"><p style="color:white;"><b>Course Management</b></p></a>
          <a href="{{ url_for('publish_opportunities') }}"><p style="color:white;">Publish Projects and Opportunities</p></a>
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}"><p style="color:white;">Login</p></a>
          {% else %}
          <a href="{{ url_for('logout') }}"><p style="color:white;">Logout</p></a>
          {% endif %}
        </nav>
      <!-- End of header and navigation -->
      <main class="main">
          <article class="sidebar">
            <section class="channels">
              <div class="sidebar-user-info">
                <h4 style="color:white;">{{ current_user.username }}</h4>
<!--                <i class="fas fa-chevron-down"></i>-->
              </div>
              <p class="sidebar-user-info-additional">
                  <i class="fas fa-circle"></i>{{ current_user.email }}
              </p>
              <h4 class="channels-header">
                <i class="fas fa-sort-down"></i> Your Courses
              </h4>
              <ul>
                {% for ch in current_user.subscribed_courses %}
                  {% if ch.name==course.name %}
                    <li class="active">
                      <a href= "/course/f/{{ ch.name }}" ><i class="fas fa-hashtag"></i>{{ ch.name }}</a>
                    </li>
                  {% else %}
                    <li>
                      <a href= "/course/f/{{ ch.name }}" ><i class="fas fa-hashtag"></i>{{ ch.name }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
                  <li>
                    <a href="/joincourse"><i class="fas fa-plus"></i>Join a course</a>
                  </li>
              </ul>
            </section>
          </article>
        <section class="body">
            <section class="content-header">
              <article class="channel-content-header-details">
                <h4 class="channel-content-header-name">
                  #{{ course.name }} <i class="fas fa-star"></i>
                </h4>
                <!--
                <section class="content-header-icons">
                  <div>
                    <i class="far fa-user"></i>
                    &lt;!&ndash;<span class="content-header-counter">23</span>&ndash;&gt;
                  </div>
                  <div>
                    <i class="fas fa-thumbtack fa-rotate-315 last"></i>
                    <span class="content-header-counter">23</span>
                  </div>
                  &lt;!&ndash;<p class="content-header-text">
                    Track and cordinate social media.
                  </p>&ndash;&gt;
                </section>-->
            </article>
            </section>
            <section class="feeds">
              <article class="feed">
                <!--<section class="feeds-user-avatar">
                  <img src="images/user2.jpg" alt="User 1" width="40" />
                  <span>Z</span>
                </section>-->
                {{ moment.include_moment() }}
                {% for post in course.posts %}
                  <section class="feed-content">
                    <section class="feed-user-info">
                      <h4>{{ post.sender }} <span class="time-stamp">{{ moment(post.timestamp).format('LLL') }}</span></h4>
                    </section>
                    <div>
                      <p class="feed-text">
                        {{ post.content }}
                      </p>
                    </div>
                  </section>
                {% endfor %}
              </article>
            </section>
          <form action="/course/f/{{ course.name }}" class="form" name="feedForm" method="POST">
            {% import "bootstrap/wtf.html" as wtf %}
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.message) }}
<!--
              <div class="input" id="textBox" contenteditable="true">
                <p>Message #social-media</p>-->
              <div class="send-button">
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Send <i class="fas fa-angle-double-right"></i></button>
              </div>
            </form>
        </section>
      </main>
    </div>
    <script src="/static/script.js"></script>
  </body>
</html>
