<!DOCTYPE >
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Doubt Resolution</title>
    <link rel="stylesheet" href="../static/css/all.css" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>

  <body>
    <div class="container">
      <!-- Header and navigation -->
        <nav class="nav">
          <a href="{{ url_for('index_staff') }}"><p style="color:white;">Academic Doubt Resolution        </p></a>
          <div class="move-left">
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}"><p style="color:white;">Login</p></a>
            {% else %}
            <a href="{{ url_for('logout') }}"><p style="color:white;">Logout</p></a>
            {% endif %}
          </div>
        </nav>
      <!-- End of header and navigation -->
      <main class="main">
        <section class="body">
          <div class="bg-img" style="height:100vh; width:100vw;">
              <article class="feed">
                  <section class="feed-content">
                    <section class="feed-user-info">
                      <h4 style="color:white; text-align:center; padding-bottom:7.5px; font-weight:normal; width:95%; position: absolute; top: 15%; font-size:xxx-large;">
                        Manage Academic Queries
                      </h4>
                      <h4 style="color:white; text-align:center; padding-bottom:20px; width:95%; position: absolute; top: 30%; font-size:large;">
                        Resolve queries posted by the students regarding the degree requirements, current semester, and other academic doubts.
                      </h4>
                    </section>
                    <form action="/answerqueries" class="container" style="width:100%">
                      <button type="submit" class="btn" style="width:50%; height:70px; position:absolute; top:45%; font-size:x-large; justify-self:center;">Resolve pending queries now!</button>
                    </form>
                    <form action="/viewfaqs" class="container" style="width:100%">
                      <button type="submit" class="btn" style="width:50%; height:70px; position:absolute; top:55%; font-size:x-large; justify-self:center;">View all FAQs</button>
                    </form>
                  </section>
              </article>
          </div>
        </section>
      </main>
    </div>
    <script src="../static/script.js"></script>
  </body>
</html>
