<!DOCTYPE >
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Course Management</title>
    <link rel="stylesheet" href="static/css/all.css" />
    <link rel="stylesheet" href="static/style.css" />
  </head>

  <body>
    <div class="container">
      <!-- Header and navigation -->
        <nav class="nav">
          <a href="{{ url_for('index') }}"><p style="color:white;"><b>Resources Forum</b></p></a>
          <a href="{{ url_for('index_course') }}"><p style="color:white;"><b>Course Management</b></p></a>
          <a href="{{ url_for('explore_opportunities') }}"><p style="color:white;">Explore Opportunities</p></a>
          <a href="{{ url_for('doubt_resolution') }}"><p style="color:white;">Academic Doubt Resolution</p></a>
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}"><p style="color:white;">Login</p></a>
          {% else %}
          <a href="{{ url_for('logout') }}"><p style="color:white;">Logout</p></a>
          {% endif %}
        </nav>
      <!-- End of header and navigation -->
      <main class="main">
          <article class="sidebar">
            <section class="channels">
              <div class="sidebar-user-info">
                <h4 style="color:white;">{{ current_user.username }}</h4>
<!--                <i class="fas fa-chevron-down"></i>-->
              </div>
              <p class="sidebar-user-info-additional">
                  <i class="fas fa-circle"></i>{{ current_user.email }}
              </p>
              <h4 class="channels-header">
                <i class="fas fa-sort-down"></i> Your Courses
              </h4>
              <ul>
                {% for ch in current_user.subscribed_courses %}
                    <li>
                      <a href= "/course/{{ ch.name }}" ><i class="fas fa-hashtag"></i>{{ ch.name }}</a>
                    </li>
                {% endfor %}
                  <li>
                    <a href="/joincourse"><i class="fas fa-plus"></i>Join a course</a>
                  </li>
              </ul>
            </section>
          </article>
        <section class="body">
          <div class="bg-img">
              <article class="feed">
                  <section class="feed-content">
                    <section class="feed-user-info">
                      <h4 style="color:white; text-align:center; padding-bottom:7.5px; font-weight:normal; width:95%; position: absolute; top: 15%; font-size:xxx-large;">
                        IIITD Course Management
                      </h4>
                      <h4 style="color:white; text-align:center; padding-bottom:20px; width:95%; position: absolute; top: 30%; font-size:large;">
                        Join course announcement channels to closely follow the class materials shared by your professors!
                      </h4>
                    </section>
                    <form action="/joincourse" class="container" style="width:100%">
                      <button type="submit" class="btn" style="width:50%; height:70px; position:absolute; top:50%; font-size:x-large; justify-self:center;">Enrol in a course now!</button>
                    </form>
                  </section>
              </article>
          </div>
        </section>
      </main>
    </div>
    <script src="static/script.js"></script>
  </body>
</html>
