{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Join Channel
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
<style>
  h4 {text-align: center;}
</style>
{% endblock %}

{% block content %}
    <div class="container">

      <form class="form-signin" method="POST" action="/login">
        <h2 class="form-signin-heading">Join a Channel</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.title) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Join!</button>
      </form>

      <h4 class="form-signin-heading">Couldn't find a channel? <a href="{{ url_for('add') }}">Click to Add New Channel!</a></h4>

    </div> <!-- /container -->
{% endblock %}