<!DOCTYPE >
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Forum</title>
    <link rel="stylesheet" href="static/css/all.css" />
    <link rel="stylesheet" href="static/style.css" />
  </head>

  <body>
    <div class="container">
      <!-- Header and navigation -->
        <nav class="nav">
          <a href="{{ url_for('index_faculty') }}"><p style="color:white;">Course Management</p></a>
          <a href="{{ url_for('publish_opportunities') }}"><p style="color:white;"><b>Publish Projects and Opportunities</b></p></a>
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}"><p style="color:white;">Login</p></a>
          {% else %}
          <a href="{{ url_for('logout') }}"><p style="color:white;">Logout</p></a>
          {% endif %}
        </nav>
      <!-- End of header and navigation -->
      <main class="main">
        <section class="body">
          <div class="bg-img" style="height:100vh; width:100vw;">
              <article class="feed">
                  <section class="feed-content">
                    <section class="feed-user-info">
                      <h4 style="color:white; text-align:center; padding-bottom:7.5px; font-weight:normal; width:95%; position: absolute; top: 15%; font-size:xxx-large;">
                        Publish Opportunities
                      </h4>
                      <h4 style="color:white; text-align:center; padding-bottom:20px; width:95%; position: absolute; top: 30%; font-size:large;">
                        Projects, Thesis, Internships, TAship or RAship positions - share all kinds of opportunities with students!
                      </h4>
                    </section>
                    <form action="/shareopportunity" class="container" style="width:100%">
                      <button type="submit" class="btn" style="width:50%; height:70px; position:absolute; top:45%; font-size:x-large; justify-self:center;">Share an opportunity now!</button>
                    </form>
                    <form action="/your-opportunities" class="container" style="width:100%">
                      <button type="submit" class="btn" style="width:50%; height:70px; position:absolute; top:55%; font-size:x-large; justify-self:center;">View opportunities shared by you</button>
                    </form>
                  </section>
              </article>
          </div>
        </section>
      </main>
    </div>
    <script src="static/script.js"></script>
  </body>
</html>